header.header
    nav#nav.nav__container.container
        .row
            .nav__logo.col-2
                img#logo(src="/img/logo-nav.png")
                img#favi(src="/img/favicon.png")
            .nav__menu.col-10
                .container
                    .row
                        a.nav__btn.col-2(href='/allbooks') All books
                        if user
                            a.nav__btn.col-2(href='/myFavorites') My List
                            a.nav__btn.col-2n(href='/me') 
                                span= user.name.split(' ')[0]
                            a.nav__btn.col-2(href='/#') About
                            .col-2
                            a#logout__btn.nav__btn.col-2(href='/') Log out
                        else
                            a.nav__session.col-4(href='/login') Login
                            a.nav__session.col-4(href='/signup') Sign up