header.header
    nav.nav_container.container
        .row
            .nav__logo.col-2
            .nav__menu.col-8
                .row
                    a.menu__all.col-4(href='/allbooks') All books
                    a.menu__fav.col-4(href='#') My favorites
                    a.menu__all.col-4(href='#') All books
            a.nav__session.col-2(href='#') My profile
            //- a.nav__el.col-4(href='#') Log in
            //- a.nav__el.col-4(href='#') Sing up