header.header
    nav#nav.nav__container.container
        .row
            .nav__logo.col-2
                img#logo(src="/img/logo-nav.png")
                img#favi(src="/img/favicon.png")
            .nav__menu.col-10
                .container
                    .row
                        if user
                            a.nav__btn.col-2-xl(href='/allbooks') All books
                            a.nav__btn.col-2-xl(href='/myFavorites') My List
                            a.nav__btn.col-2-xl(href='/me') 
                                span= user.name.split(' ')[0]
                            a.nav__btn.col-2-xl(href='/#') About
                            a#logout__btn.nav__btn.nav__last.col-2-xl(href='/') Log out
                        else
                            a.nav__btn.col-4(href='/') Login
                            a.nav__btn.col-4(href='/signup') Sign up