header.header
    nav.nav_container.container
        .row
            .nav__logo.col-4
            .nav__menu.col-8
                .container
                    .row
                        a.menu__all.col-3(href='/allbooks') All books
                        if user
                            a.nav__session.col-3(href='#') My Favorites
                            a.nav__session.col-3(href='/me') 
                                span= user.name.split(' ')[0]
                            a.nav__session.col-3#logout__btn(href='/') Log out
                        else
                            a.nav__session.col-4(href='/login') Login
                            a.nav__session.col-4(href='/signup') Sign up