mixin reviewBoxes(review)
    .review__reviewBox
        .review__data
            h6.review__user= review.user[0].name
        .review__data
            p= `Rating: ${review.rating}`
        .review__data
            P= review.review
