extends base
include _bookBoxes

block content
    main.main
        .main__title
            img.title__img(src="/img/title-bg.jpg")
            .title__box
                h2.title About me
        .main__section
            .container.about
                .row
                    .col-lg-6.col-sm-12
                        p.bold Hello Reader!!
                        p I am Alejandro Lucena and I am the person behind this amazin app, "My Story Teller".
                        p This crazy trip starts more than a year ago when I moved to Dublin. There I decided to study a higher diploma in web technologies and after all the effort this is the result, the final project.
                        p "My Story Teller" is a mix of my two passions, the web development and the illsutraion and design, so I am glad that you are enjoying the books and I hope you are having a very good time visiting this great app. Thank you!
                    .col-lg-6
                        img.about__img(src="/img/about.jpg", alt="about us photo")    