doctype html
html
    head
        meta(charset='UTF-8')
        title My Story Teller
        link(rel='stylesheet' href='css/style.css')
        // font link(rel='stylesheet' href='')

    body
        // HEADER
        header.header
        nav.nav


        // CONTENT


        // FOOTER
