doctype html
html
    head
        meta(charset='UTF-8')
        title Wellcome to My Story Teller 
        link(rel='stylesheet' href='/css/style.css')
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        // font link(rel='stylesheet' href='')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    body
        // CONTENT
        main.index
            .index__el#bg
                .index__el#tree-4
                    .index__el#sun-2
                        .index__el#tree-3
                            .index__el#sun-1
                                .index__el#tree-2
                                    .index__el#tree-1
            .index__logo
            .index__menu
                .container
                    .row
                        a(href="#").menu__button.col-12 Join now!
                    .row
                        a.menu__button.col-5(href="/login") Log-in
                        .col-2
                        a.menu__button.col-5(href="/signup") Sign-up


        script(src='js/bundle.js')
        script(type="text/javascript").
            $('.index').mousemove(function(e){
            let moveX1 = (e.pageX * -1 /60);
            let moveY1 = (e.pageY * -1 /60);
            let moveX2 = (e.pageX * -1 /75);
            let moveY2 = (e.pageY * -1 /75);
            let moveX3 = (e.pageX * -1 /90);
            let moveY3 = (e.pageY * -1 /90);
            let moveX4 = (e.pageX * -1 /100);
            let moveY4 = (e.pageY * -1 /100);
            $('#tree-1').css('background-position', moveX1 + 'px ' + moveY1 + 'px ');
            $('#tree-2').css('background-position', moveX2 + 'px ' + moveY2 + 'px ');
            $('#tree-3').css('background-position', moveX3 + 'px ' + moveY3 + 'px ');
            $('#tree-4, #sun-1, #sun-2').css('background-position', moveX4 + 'px ' + moveY4 + 'px ');
            });