extends base

block content
            main.main.index
                .index__bg
                    .index__el#tree-4
                        .index__el#tree-3
                            .index__el#sun-2
                                .index__el#tree-2
                                    .index__el#sun-1
                                        .index__el#tree-1
                .index__logo
                .index__menu.container
                    .row
                        a(href="#").menu__join.col-xl-12
                            span='Join now!'
                    .row
                        a(href="/login").menu__login.col-xl-6.col-sm-12
                            span='Log-in'
                        a(href="#").menu__signup.col-xl-6.col-sm-12
                            span='Sign-up'
