doctype html
html
    head
        meta(charset='UTF-8')
        title Wellcome to My Story Teller 
        link(rel='stylesheet' href='/css/style.css')
        link(rel="icon" type="image/png" href="img/favicon.png")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(href='https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap' rel='stylesheet')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')

    body
        // CONTENT
        main.index
            .index__el#bg
                //- .index__el#tree-4
                    //- .index__el#sun-2
                .index__el#tree-3
                    //- .index__el#sun-1
                    .index__el#tree-2
                        .index__el#tree-1
                .index__menu
                    .index__logo.col-12         
                        img.logo-m(src="img/logo-m-bg.png")
                    if user
                        a.form__btn.animated-word(href='/main') Get in
                    else
                        #login__form.login-cointainer
                            #indexEmail.form__element.displayNone
                                input#email.form__input(type='email', placeholder='your@email.com', required)
                            #indexPass.form__element.displayNone
                                input#password.form__input(type='password', placeholder='***********', required, minlength='8')
                            #indexButton.form__element.displayNone
                                button.form__btn.animated-word Log-in
                            #indexLinks.form__element.displayNone
                                a(href='/forgotPassword') Forgot your password?
                                br
                                a(href="/signup")
                                    p.inline New in My Story Teller? 
                                    p.form__link-singup Sign up!


        script(src='js/bundle.js')
        script(type="text/javascript").
            $('.index').mousemove(function(e){
            let moveX1 = (e.pageX * -1 /60);
            let moveY1 = (e.pageY * -1 /60);
            let moveX2 = (e.pageX * -1 /75);
            let moveY2 = (e.pageY * -1 /75);
            let moveX3 = (e.pageX * -1 /90);
            let moveY3 = (e.pageY * -1 /90);
            let moveX4 = (e.pageX * -1 /100);
            let moveY4 = (e.pageY * -1 /100);
            $('#tree-1').css('background-position', moveX1 + 'px ' + moveY1 + 'px ');
            $('#tree-2').css('background-position', moveX2 + 'px ' + moveY2 + 'px ');
            $('#tree-3').css('background-position', moveX3 + 'px ' + moveY3 + 'px ');
            $('#tree-4, #sun-1, #sun-2').css('background-position', moveX4 + 'px ' + moveY4 + 'px ');
            });