extends base
include _bookBoxes

block content
    main.main
        //- .main__section
        //-     form.search__form.form
        //-         .form__element
        //-             input#bookName.form__input(type='text', placeholder='Search...', required)
        //-         .form__element
        //-             button.form__btn(type='submit') Search

        .main__title
            img.title__img(src="/img/title-bg.jpg")
            h2.title Top books
        .main__section
            .bookBox-container
                    each book in books
                        +bookBoxes(book)