body{
    font-family: "Helvetica Neue";
    margin: 0;
    padding: 0;
}
.noScroll{
    overflow-y: hidden; 
    overflow-x: hidden;
}
.main{
    padding-top: 30px;
}
h1{
    color: grey
}

/*  -----=====   HEADER   =====-----  */
.header{
    background-color: lightblue;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 30px;
}

/*  -----=====   FOOTER   =====-----  */
.footer{
    background-color: grey;
    height: 40px;
}


/*  -----=====  GENERAL STYLES  =====-----  */

/* -- Sections -- */

.full-height-section{
    height: calc(100vh - 70px);
    background-image: url("/img/img/bgpages.jpg");
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/* -- Display: none  -- */
.displayNone{
    display:none;
}

.inline{
    display: inline;
}

/* -- link decoration none  */
a:link, a:visited, a:active {
    text-decoration:none !important;
}

/* -- Form Styles  -- */

.form__element{
    width:100%;
    text-align: start;
    margin: auto;
}

.form__label{
    display:block;
    width: 100%;
}
.form__input{
    display:block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 0;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.form__input:focus{
    outline: none;
    border-bottom: 3px solid #55c57a;
}
.form__input:focus:invalid {
    border-bottom: 3px solid #ff7730;
}
.form__btn{
    text-decoration: none;
    margin-bottom: 20px;;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 0;
    border-radius: 20px;
    background-color: #55c57a;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
	align-items: center;
    justify-content: center;
}
.form__btn:hover{
    background-color:#6bf398;
}

.animated-word {
	text-align: center;
	color:white;
    max-width: 600px; 
    width: 100%; 
    /* outline: 0;
    outline-color: #55c57a;
    outline-offset: -3px; */
    /* transition: all 600ms cubic-bezier(0.2, 0, 0, 0.8); */
}

.animated-word:hover {
    letter-spacing: 0.1em;
    /* outline: 3px solid;
    outline-color: rgba(71, 126, 232, 0);
    outline-offset: 300px; */
}

.form__btn:focus{
    outline: none;
    /* border-bottom: 3px solid black; */
}

.form__link-singup{
    color: #ff486f;
    display: inline;
    font-weight: bold;
}
/*  -- Alert  -- */
.alert{
    position: fixed !important;
    z-index: 9999;
    margin: 0;
    top: 30px;
    width: 50vw;
    left: 25%;
    text-align: center;
    -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.25);
}

.alert--success{
    background-color: #53d5b7;
    color: white;
}
.alert--error{
    background-color: #ff486f;
    color: white;
}



/*  -----=====  INDEX PAGE   =====-----  */

.index{
    width: 100vw;
    height: 100vh; 
}

.index__el{
    background-repeat: none;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}
.index__menu{
    position: absolute;
    top: 50;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 600px;
    padding: 10px;
}

.index__logo{
    display: none;
    text-align: center;
}

.login-cointainer{
    max-width: 300px;
    text-align: center;
    margin: auto;
}

/* Imgages for index animated backgorud */
#bg{
    background-image: url("/img/indexPage/bg.png");
}
#tree-4{
    background-image: url("/img/indexPage/tree-four.png");
}
#tree-3{
    background-image: url("/img/indexPage/tree-three.png");
}
#tree-2{
    background-image: url("/img/indexPage/tree-two.png");
}
#tree-1{
    background-image: url("/img/indexPage/tree-one.png");
}
#sun-1{
    background-image: url("/img/indexPage/sun-one.png");
}
#sun-2{
    background-image: url("/img/indexPage/sun-two.png");
}



/*  -----=====  SIGN UP & SIGN IN  =====-----  */
.sign-form-container{
    background:white;
    width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 380px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
}
.up{
    height: 500px !important;
}


/*  -----=====  ACCOUNT PAGE   =====-----  */
.acc-container{
    height: 100% !important;
}
.acc-details{
    background:white;
    height: 600px;
    padding:20px 30px 20px 30px;
    border-radius: 5px;
    text-align: center;
}
.form__acc-label{
    display:block;
    width: 100%;
}
.form__acc-input{
    display:block;
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 10px;
}


/*  -----=====  ALL BOOKS   =====-----  */
/*  -- bookBox -- */
.bookBox-container{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.bookBox{
    background-color: lightblue;
    /* width: 250px; */
    margin: 10px;
    height: 400px;
}

.bookBox__cover{
    height:200px;
}

.bookOverview__cover{
    width: 200px !important;
}

/* -----      END ALL BOOKS      -----  */

/*  -----=====  BOOK   =====-----  */


/* -----      END BOOK      -----  */

/*  -----=====  READ A BOOK   =====-----  */


html{
    scroll-behavior: smooth;
}

.book{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    /* overflow-x:scroll;
    overflow-y:hidden; */
}

/* -- General Page Styles -- */
.page{
    height: 100vh !important;
    width: 100vw !important;
    position: absolute;
    top:0;
    padding: 0 !important;
    max-width: none !important;
    background-color: #1e0000;
    display: flex;
    align-items: center;
}
.page__illustration{
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 15px;
}
.page__text{
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
}
.text{
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.book__burger{
    position: fixed;
    display: none;
    top: 10px;
    left: 95vw;
    width: 50px;
    z-index: 99999;
}
.page__row{
    margin: 0;
    padding: 0;
}
.page__prev{
    margin: 0 !important;
    height: 100vh !important;
    display: none;
    cursor: url("/img/books/left-arrow.png"), auto
}
.page__next{
    margin: 0 !important;
    height: 100vh !important;
    display: none;
    cursor: url("/img/books/right-arrow.png"), auto
}


/* -- page 1 -- */
#nextOne{
    position: absolute;
    left: 50vw;
}

/* -- page 2 -- */
#nextTwo{
    position: absolute;
    top: 0px;
    left: 150vw;
}
#prevTwo{
    position: absolute;
    top: 0px;
    left: 100vw;
}
.pageTwo-container{
    left: 100vw;
}

/* -- page 3 -- */
#prevThree{
    position: absolute;
    top: 0px;
    left: 200vw; 
}

#nextThree{
    position: absolute;
    top: 0px;
    left: 250vw; 
}

.pageThree-container{
    left: 200vw;
}

/* -- page 4 -- */
#prevFour{
    position: absolute;
    top: 0px;
    left: 300vw;   
}
#nextFour{
    position: absolute;
    top: 0px;
    left: 350vw; 
}
.pageFour-container{
    left: 300vw;
}

/* -- page 5 -- */
.pageFive-container{
    position: absolute;
    left: 400vw;
    height: 100vh;
    width: 100vw;
    background-color: lightpink;
    top:0;
    padding: 0;
    max-width: none !important;
    text-align: center;
}
.pageFive__title{
    display: none;


}

