body{
    font-family: "Helvetica Neue",
}

h1{
    color: grey
}

/*  -----=====   HEADER   =====-----  */
.header{
    background-color: lightblue;
}

/*  -----=====   FOOTER   =====-----  */
.footer{
    background-color: grey;
}
/*  -----=====  INDEX PAGE   =====-----  */
.index{
    width: 100vh;
    height: 100vw; 
}
.index__bg{
    /* background-image: url("/img/indexPage/bg.png"); */
    width: 100%;
    height: 100%;
    background-color: orange;
}


/*  -----=====  ALL BOOKS   =====-----  */
/*  -- bookBox -- */
.bookBox-container{
    max-width: 120rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 7rem;
}

.bookBox{
    background-color: lightblue;
    /* width: 250px; */
    margin: 10px;
    height: 400px;
}

.bookBox__cover{
    height:200px;
}


/*   */

.bookOverview__cover{
    width: 200px !important;
}

